<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="pocketsensor_device" params="name parent xyz:='0 0 0' rpy:='0 0 0'">
    <link name="${name}_link"/>
    <link name="${name}_color_optical_frame"/>
    <link name="${name}_imu_link"/>

    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

    <joint name="${name}_color_optical_joint" type="fixed">
      <parent link="${name}_link"/>
      <child link="${name}_color_optical_frame"/>
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

    <joint name="${name}_imu_joint" type="fixed">
      <parent link="${name}_link"/>
      <child link="${name}_imu_link"/>
      <origin xyz="0 0 0" rpy="0 ${-pi/2} 0"/>
    </joint>
  </xacro:macro>
</robot>
